.login-container {
    display: flex;
    min-height: 100vh;

    .logo-side {
        width: 50%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .x-logo {
            width: 16rem;
            height: 16rem;
            color: white;
        }
    }

    .form-side {
        width: 50%;
        padding: 2rem;

        h1 {
            font-size: 1.875rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .form-group {
            margin-bottom: 1rem;

            input {
                width: 100%;
                padding: 1rem;
                border: 1px solid #ccc;
                border-radius: 0.5rem;
                font-size: 1rem;

                &:focus {
                    outline: none;
                    border-color: #1DA1F2;
                }
            }
        }

        button {
            width: 100%;
            padding: 1rem;
            background-color: #1DA1F2;
            color: white;
            border: none;
            border-radius: 0.5rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: darken(#1DA1F2, 10%);
            }
        }

        .register-link {
            margin-top: 1rem;
            text-align: center;

            a {
                color: #1DA1F2;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}